* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Styling header */
#header {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    position: fixed;
    top: 0;
}

.logo img {
    /* I use 100% to take the full width of parent if small size */
    width: 100%;
    height: 100%;
    /* if this larger than 300px it will not exceed than 300px*/
    max-width: 300px;
}

nav ul {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;    
}

ul li {
    font-family: "Work Sans", sans-serif;
    padding: 5px 0;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

@media (max-width: 650px) {
    #header .logo {
        width: 100%;   
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 370px) {
    #header {
        flex-direction: column;
    }

    #nav-bar,
    nav ul {
        width: 100%;
    }

    ul li {
        width: 100%;
        text-align: center;
    }

}


/* form */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* 650 margin-top 120px */
    margin-top: 80px;
    text-align: center;

}


#hero h3 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}


#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    font-weight: bolder;
    height: 30px;
    margin: 15px 0;
    border: 0;
    cursor: pointer;
    background-color: #f1c40f;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 170px;
    }
}


/* icons and discription */
section#features {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
}


section#features .grid {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}

.icon {
    width: 15%;
    text-align: center;
    color: darkorange;
}


.content p {
    font-size: 10px;
}


@media (max-width: 550px) {
    #features .content {
        text-align: center;
    }

    #features .icon {
        display: none;
    }
}

/* video */

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works iframe {
    max-width: 400px;
    width: 100%;
    height: 250px;
}


/* section price */
#pricing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product-card h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    background: #e3e3e3;
    padding: 15px 0;
}

.product-card p {
    margin-top: 15px;
}

.product-card ol {
    padding: 10px 0;
    list-style-type: none;
}

ol li {
    padding: 5px 0;
}

.product-card button {
    width: 75px;
    margin-bottom: 8px;
    background: #f1c40f;
    padding: 10px;
    text-align: center;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background: rgb(245, 188, 15);
}


@media (max-width: 700px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 200px;
        max-width: 100%;
    }
}